.mainInfo {
  text-align: center;
  padding: 3rem 1rem;
}

.mainInfo h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.mainInfo p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.jeanContainer {
  height: 80vh;
  position: relative;
}

.jeans {
  display: flex;
  align-items: center;
  height: 100%;
}

.jean,
.accessories {
  flex: 1; /* Use flex: 1 instead of flex: .5 */
  height: 100%;
  position: relative;
}

.jean div,
.accessories div {
  z-index: 20;
  color: #fff;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.jean div > h3,
.accessories div > h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.35); /* Use rgba for transparency */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: block;
}

@media screen and (max-width: 768px) {
  .jeans {
    flex-direction: column;
  }

  .jean,
  .accessories {
    flex: 1; /* Adjust flex property for smaller screens */
    text-align: left; /* Center content */
    width: 100%;
  }

}